/*
 *Name: [Owen Ruoff]
 *UnityID: [ogruoff]
 *Date: [11/8/2025]
 *Assignment: [Webpages]
 *Description: [Assignment Description]
 */
 
p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px; ;
    color: #decaff;
}

.table-border {
    border: 1px solid #decaff;
}

#photo-resize {
   max-width: 250px;
   max-height: 300px;
}
