/*
 *Name: [Owen Ruoff]
 *UnityID: [ogruoff]
 *Date: [11/8/2025]
 *Assignment: [Webpages]
 *Description: [Assignment Description]
 */
 
p {
    property: value;
}

.class {
    property: value;
}

#id {
    property:value;
}
